.auth__content{
    height: 80vh;

}

.auth__card__container{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;


}

#btn__checkout {
    border:solid 0.5px var(--gray);

}

.btn__Auth {
    width: 200px;
}




.auth_card{
    width: 350px;
    text-align: left;

}

@media (max-width:1160px) {

    .auth__content{
        margin: 30px 20px;

    }

    .auth__card__container{
        width: fill;
    }

    .auth_card{
        width: 85%;    
    }
    
}