header p {
  padding: 50px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background: rgb(27, 124, 236);
  background-image: linear-gradient(to right,#1B7CEC, #005CC6);

}

.footer > * {
  flex: 1 100%;
}

.l-footer {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

h2 {
  font-weight: 400;
  font-size: 15px;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.r-footer h2{
    font-weight: 700;
    font-size: 20px;
}
.box a {
  color: #fff;
}

.features{
  margin-top: 10px;
}
.b-footer {
  text-align: center;
  color: #fff;
  padding-top: 30px;
}

.l-footer p {
    margin-top: 10px;  
    margin-bottom: 10px;
  color: #fff;
}


@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }
  .r-footer h2{

    margin-bottom: 15px;

}
  .features {
    flex-grow: 2;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
  }
}
