.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.popup__container{
    position: relative;
    text-align: left;
    top: 0px;
    padding: 32px;
    width: 100%;
    max-width: 1000px;
    background-color: #F9F9F9;
    border-radius: 10px;
    z-index: 5;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;

}

.popup__container .save__button{
    bottom: 22px;
    right: 130px;
}

.popup__container .close__button{
    top: 22px;
    right: 32px;
}

.popup__container .save__button, .close__button{
    position: absolute;
    color: #1976D2;
    background-color: white;
    border: solid 0px;
    font-size: 1.2rem;

}

.popup__container .close__button:hover, .save__button:hover{
    text-decoration: underline;
    cursor: pointer;   
}

.popup__container h3{
    margin-bottom: 10px;
    align-items: flex-start;

}

.popup__model__container{
    display: flex;
    justify-content: space-between;
    max-width: 100%;

}

.popup__is__charger__btn__container{
    /* display: flex;
    justify-content: center ; */
    /* max-width: 100%; */
}

.is__charger__btn{
    margin: 10px;
}

.popup__model__container div{
    /* background-color:    #fff; */


}

.popup__model{
    width: 300px;
    margin: 5px;
    padding: 15px;
    border-radius: 0px 0px 5px 5px;
    border: solid 1px #eee; 
    background-color: #fff;

}

.popup__model:hover, .popup__color:hover, .popup__year:hover{
    border: solid 1px #cbcbcb; 
}

.popup__model:active, popup__color:active, .popup__year:active  {
    border: solid 1px var(--primeblue); 
}
/* .popup__model:focus  {
    border: solid 5px #3d2f7e; 
} */
/* .popup__model:target {
    border: solid 5px #3d2f7e; 
} */

.popup__year{
    padding: 10px 12px;
    margin: 5px;
    border-radius: 2px;
    border: solid 1px #eee; 
    background-color: #fff;

}

.popup__color{
    padding: 10px 10px;
    margin: 5px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: solid 1px #eee; 
}


.popup__title{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.popup__title__image{
    height: 80px;
    border-radius: 10px;    

} 
.popup__model__item{

}

.popup__model__image{
    height: 100px;
    width: 100%;
    pointer-events: none;
    object-fit:contain;

}

.carousel{
    cursor: grab;
    /* background-color: #fff; */
    /* width: 100%; */
    width: stretch;
    overflow: hidden;
}

.inner__carousel{
    display: flex;
    width: 100%;
    height: 110%;
    /* background-color: #fff; */
    /* height: 50vh; */

}





@media (max-width:1160px) {
    .popup__container{
        width: 80vw;
    }

    .popup__model__container{
        display: flex;
        justify-content: space-between;
        max-width: 80vw;
        
    
    }
    
    .popup__model__image{
        height: 80px;
    
    }

    .popup__model{
        width: 7rem;

    }

    .popup__title{
        font-size: 0.8rem;

    }

    .popup__title__image {
        height: 60px;
    }

}