.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.popup__container{
    position: relative;
    text-align: left;
    top: 40px;
    padding: 32px;
    width: 100%;
    max-width: 1000px;
    background-color: #F9F9F9;
    border-radius: 10px;
    z-index: 5;
    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;

}

.popup__container .save__button{
    bottom: 22px;
    right: 130px;
}

.popup__container .close__button{
    bottom: 22px;
    right: 32px;
}

.popup__container .save__button, .close__button{
    position: absolute;
    color: #1976D2;
    background-color: white;
    border: solid 0px;
    font-size: 1.2rem;

}

.popup__container .close__button:hover, .save__button:hover{
    text-decoration: underline;
    cursor: pointer;   
}

.popup__container h3{
    margin-bottom: 10px;
    align-items: flex-start;

}

.popup__model__container{
    display: flex;
    justify-content: space-between;
    max-width: 100%;

}

.popup__model__container div{
    /* background-color:    #fff; */


}

.popup__model{
    width: 300px;
    padding: 15px;
}

.popup__year{
    padding: 10px 12px;
    
}

.popup__title{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.popup__title__image{
    height: 80px;
    border-radius: 10px;    

} 
.popup__model__item{
    min-height: 20rem;
    min-width:   50rem;
    padding: 10px;
}

.popup__model__image{
    height: 70%;
    width: 100%;
    pointer-events: none;
    object-fit:contain;

}

.carousel{
    cursor: grab;
    background-color: #fff;
    /* width: 100%; */
    overflow: hidden;
}

.inner__carousel{
    display: flex;
    width: 100%;
    background-color: #fff;
    /* height: 50vh; */

}





@media (max-width:1160px) {
    .popup__container{
        width: 70vw;
    }

}