:root {
  --primeblue: #1B7CEC;
  --primeblack: #333;
  --gray: #646464;
  --whiteshadow: #cce7ff;
  --white: #ffffff;
  --yellow: #ECE41B;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

}

.animation{
  transition-property: all;
  transition-duration: .7s;
  transition-timing-function: ease;
}

.white_font{
  color: var(--white);
}

.black_font{
  color: var(--primeblack);
}

.gray_font{
  color: #646464;
}

.yellow_font{
  color: var(--yellow);

}

.blue_font{
  color: var(--primeblue);
}

.underline{
  text-decoration: underline;

}

.pointer{
  cursor: pointer;
}

.general_shadow{
  -webkit-box-shadow: 1px 2px 9px 1px  #e0e0e0;
     -moz-box-shadow: 1px 2px 6px 1px  #e0e0e0;
          box-shadow: 1px 2px 6px 1px  #e0e0e0;
}

.white_bg{
 background-color: var(--white);
}

.flex{
  display: flex;
}

.App {
  /* font-family: Arial, Helvetica, sans-serif, sans-serif;; */
  text-align: center;
  max-width: 100%;

}

html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.btn_container {
  width: stretch;
}

.btn, .btn:visited, .btn:link{
  padding:7px 40px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  min-width: 80px;

}

.btn:link {
  text-decoration: inherit;
}

.btn:visited {
  text-decoration: inherit;
}

.btn__primary{
  background-color: var(--primeblue);
  border:solid 0px var(--primeblue);
  color : var(--white);
}

.btn__secondary{
  background-color: var(--white);  
  border:solid 1px var(--gray)
}

.btn__primary:hover, .btn__secondary:hover{
  -webkit-box-shadow: 1px 2px 9px 1px  #e0e0e0;
    -moz-box-shadow: 1px 2px 6px 1px  #e0e0e0;
        box-shadow: 1px 2px 6px 1px  #e0e0e0;
}

.btn__primary:active, .btn__secondary:active{
  border:solid 1px var(--primeblue);

}

.unbold {
  font-weight:normal;
}
​
.circle{
  border-radius: 100px;
}

.fit__content{
  width: fit-content;

}

.margin__top{
  margin-top: 10px;
}

#btn__checkout{
  width: fill;
}

@media (max-width:1160px) {
  .btn{
    padding:10px 20px;
    font-size: 1rem;
    border-radius: 5px;
  
  }
}