:root {
  --primeblue: #1B7CEC;
  --primeblack: #333;
  --whiteshadow: #cce7ff;
  --white: #ffffff;
  --yellow: #ECE41B;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
}

.white_font{
  color: var(--white);
}

.black_font{
  color: var(--primeblack);
}

.yellow_font{
  color: var(--yellow);

}

.App {
  /* font-family: Arial, Helvetica, sans-serif, sans-serif;; */
  text-align: center;
  max-width: 100%;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}





