:root {
  --primeblue: #1B7CEC;
  --secondaryblue: #e4f1ff;
  --primeblack: #333;
  --gray: #646464;
  --whiteshadow: #cce7ff;
  --white: #ffffff;
  --yellow: #ECE41B;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;

}

.center {
  margin: 0 auto;
  text-align: center;
}

.animation{
  transition-property: all;
  transition-duration: .7s;
  transition-timing-function: ease;
}


.underline{
  text-decoration: underline;

}

.pointer{
  cursor: pointer;
}

.iconsocial {
  padding: 5px;
  margin: 5px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border: 1px solid var(--white);
  border-radius: 19px;
}

.iconsocial:hover {
  transform: scale(1.1);
}

.general_shadow{
  -webkit-box-shadow: 1px 2px 9px 1px  #e0e0e0;
     -moz-box-shadow: 1px 2px 6px 1px  #e0e0e0;
          box-shadow: 1px 2px 6px 1px  #e0e0e0;
}

.white_bg{
 background-color: var(--white);
}

.flex{
  display: flex;
}

.App {
  /* font-family: Arial, Helvetica, sans-serif, sans-serif;; */
  text-align: center;
  max-width: 100%;   /* Footer height */


}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

.btn_container {
  width: stretch;
}

.btn, .btn:visited, .btn:link{
  padding:7px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  min-width: 80px;

}

.btn:link {
  text-decoration: inherit;
}

.btn:visited {
  text-decoration: inherit;
}

.btn__primary{
  background-color: var(--primeblue);
  border:solid 0px var(--primeblue);
  color : var(--white);
}

.btn__secondary{
  background-color: var(--white);  
  border:solid 1px var(--gray)
}

.btn__primary:hover, .btn__secondary:hover{
  -webkit-box-shadow: 1px 2px 9px 1px  #e0e0e0;
    -moz-box-shadow: 1px 2px 6px 1px  #e0e0e0;
        box-shadow: 1px 2px 6px 1px  #e0e0e0;
}

.btn__primary:active, .btn__secondary:active{
  border:solid 1px var(--primeblue);

}

.unbold {
  font-weight:normal;
}
​
.circle{
  border-radius: 100px;
}

.fit__content{
  width: fit-content;

}

.margin__top{
  margin-top: 10px;
}

#btn__checkout{
  width: fill;
}

@media (max-width:1160px) {
  .btn{
    padding:10px 20px;
    font-size: 1rem;
    border-radius: 5px;
  
  }

  .iconsocial {
    padding: 5px;
    margin: 5px;
    width: 15px;
    height: 15px;

    border-radius: 12px;
  }
}

/* remove scroll bar  */
*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}